extends layout

block content
    .site-wrap
        .chat-list
            ul
        .chat-form
            input(type='text', placeholder="message")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/application.js")
